# Dependencies
node_modules

# Build output
dist
dist-ssr
storybook-static
*.local

# Logs
logs
*.log
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Coverage
coverage

# Supabase CLI local
.supabase

# TS incremental build info
*.tsbuildinfo
